<?xml version="1.0" encoding="utf-8"?>
<Menus>
    <menu id="global_system_config">
        <name>系统设置</name>
        <parent></parent>
        <icon>el-icon-menu</icon>
        <group>saleman,salemanager</group>
        <path>setting</path>
        <componentpath>common/Breadcrumb</componentpath>
        <meta></meta>
        <viewtype></viewtype>
        <isbackground>true</isbackground>
    </menu>
    <menu id="global_system_config_user">
        <name>用户管理</name>
        <parent>global_system_config</parent>
        <icon>el-icon-menu</icon>
        <group></group>
        <path>setting/user</path>
        <!-- 下面有不同的视图，component使用中间件,仅传递router-view -->
        <componentpath>common/MiddleRouterView</componentpath>
        <meta></meta>
        <viewtype>[
            {"path":"setting/user","componentpath":"setting/userTree"}, 
            {"path":"setting/user/:id","componentpath":"setting/userForm"}
        ]</viewtype>
        <isbackground>true</isbackground>
    </menu>
    <menu id="global_system_config_group">
        <name>权限管理</name>
        <parent>global_system_config</parent>
        <icon>el-icon-menu</icon>
        <group></group>
        <path>setting/group</path>
        <!-- 下面有不同的视图，component使用中间件,仅传递router-view -->
        <componentpath>common/MiddleRouterView</componentpath>
        <meta></meta>
        <viewtype>[
            {"path":"setting/group","componentpath":"setting/groupTree"}, 
            {"path":"setting/group/:id","componentpath":"setting/groupForm"}
        ]</viewtype>
        <isbackground>true</isbackground>
    </menu>
     
</Menus>