#content-section {
    margin-top: 45px;
    margin-bottom: 0.5rem;
    .top-menus {
        border-radius: 5px;
        border: solid 1px #26a2ff;
        margin: 0.5rem;
        padding: 0.2rem;
        .menu {
            margin: 0.5rem;
        }
    }
}