$headBgColor: #3190e8;
$BgColor: #e4e4e4;
$fontColor:#fff;
body {
    margin: 0rem;
    background-color: #f5f5f5;
}

// 定义圆角
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

//字体大小，颜色
@mixin fontSizeColor($size, $color) {
    font-size: $size;
    color: $color;
}

//宽高
@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

//定位上下左右居中
@mixin allCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}