<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="name" class="col-md-4 control-label label-start">用户名<span class="required-input"></span></label>
            <div class="col-md-8">
                <input class="form-control" id="name" name="Name" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="namezh" class="col-md-4 control-label">用户名(中文)<span class="required-input"></span></label>
            <div class="col-md-8">
                <input class="form-control" id="namezh" name="NameZh" type="text" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="mobile" class="col-md-4 control-label label-start">手机号码<span class="required-input"></span></label>
            <div class="col-md-8">
                <input class="form-control" name="Mobile" id="mobile" type="text" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="email" class="col-md-4 control-label label-start">邮箱<span class="required-input"></span></label>
            <div class="col-md-8">
                <input class="form-control" name="email" id="Email" type="text" />
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="qq" class="col-md-4 control-label ">QQ</label>
            <div class="col-md-8">
                <input class="form-control" name="Qq" id="qq" type="text" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="wechat" class="col-md-4 control-label">微信</label>
            <div class="col-md-8">
                <input class="form-control" name="Wechat" id="wechat" type="text" />
            </div>
        </div>

    </div>
</div>