<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-success">
            <div class="panel-heading text-center"><strong>密码修改</strong></div>
            <div class="panel-body">
                <form id="changePasswordForm" action="/user/create/" method="post" class="form-horizontal" role="form">
                    {{ .xsrf }}
                    <!--如果采用put请求需要使用下面的代码 -->
                    <!-- -->
                    <div class="form-group">
                        <label for="oldpassword" class="col-md-3 control-label label-start">旧密码<span>&nbsp*</span></label>
                        <div class="col-md-8">
                            <input class="form-control" name="oldpassword" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newpassword" class="col-md-3 control-label label-start">新密码<span>&nbsp*</span></label>
                        <div class="col-md-8">
                            <input class="form-control" name="newpassword" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword" class="col-md-3 control-label label-start">确认密码<span>&nbsp*</span></label>
                        <div class="col-md-8">
                            <input class="form-control" name="confirmpassword" type="text" />
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" form="changePasswordForm" id="userFormBtn" class="btn btn-primary">保存</button>
                        <button class="btn btn-danger">取消</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>