body {
    margin: 0rem;
}

// 详情页面样式
.form-read-only {
    font-size: 0;
}

.form-read-only label {
    width: 80px;
    color: #99a9bf;
}

.form-read-only .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 272px;
}

.tree-form-top {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.el-select .el-input__inner {
    padding-right: 10px;
}

.form-tab-top-info {
    padding-bottom: 5px;
}