.content-wrapper {
    padding: 10px 30px;
}

.control-sidebar .tab-content {
    padding-top: 2px;
    margin-top: 2px;
}

.title-action {
    border-bottom: 1px solid grey;
    padding-bottom: 2px;
    margin-bottom: 4px;
}

.search-action {
    padding-top: 2px;
}


/*form表单状态*/

.navbar-form-top {
    margin-top: 2px;
    background-color: #FFF;
    min-height: 34px;
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
}


/*去除状态bar的margin*/

.step-arrow {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar {
    margin-bottom: 5px;
    min-height: 5px;
}

.form-control {
    border-radius: 4px 4px;
}

.post-form label,
.post-form .p-form-control {
    padding-left: 1px;
    padding-right: 1px;
}

.post-form label::after {
    content: ":";
}

.step-arrow li a::before {
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: -2px;
    left: 2rem;
    font-weight: bold;
    font-size: 2rem;
    overflow: hidden;
}

.nav-pills>li>a {
    border-top-width: 0px;
}

.step-arrow li:not(:last-child) a::after {
    position: absolute;
    top: -2px;
    right: -20px;
    width: 38px;
    height: 38px;
    transform: scale(0.65) rotate(45deg);
    z-index: 1;
    background: #FFF;
    border-radius: 0 4px 0 50px;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    box-sizing: content-box;
}

.step-arrow li.active:not(:last-child) a::after {
    background-color: #337ab7;
}

.step-arrow>li>a {
    position: relative;
    display: block;
    padding: 8px 15px;
}


/*去除插件原有的步骤基数1,2,3...*/

.step li a:before {
    content: "";
}

.title-action div {
    width: auto;
    display: inline-block !important;
    display: inline;
}

.title-action .text-center {
    margin: 0 auto
}


/*页面提示样式*/

#list-title {
    color: #337ab7;
}


/*bootstrapvalidator验证符号位置*/

.form-horizontal .has-feedback .form-control-feedback {
    top: 0;
    right: -15px;
}


/*bootstrapvalidator验证符号位置*/

.form-horizontal .has-feedback .input-group .form-control-feedback {
    top: 0;
    right: -30px;
}


/*#display-table {
    margin-top: 5px;
}*/

#list-title {
    font-size: 1.2em;
}


/*导入模态框*/

.modal-content {
    border-radius: 5px;
}


/*删选条件*/

.list-filter {
    position: relative;
    clear: both;
}

fieldset legend {
    color: #337ab7;
}


/*table中翻页信息*/

.w70 {
    width: 70px !important;
    height: 30px;
}

.display-block {
    margin: 2px;
}

.table-action {
    margin: 2px;
}


/*table表头颜色*/

.table-diplay-info thead,
.fix-sticky thead {
    background-color: #5bc0de;
}

.tab-content {
    margin-top: 20px;
}


/*table中勾选红色*/

td>.fa-check {
    color: green;
}

td>.fa-remove {
    color: red;
}


/*radio选择项字体*/

.input-radio-label {
    font-weight: normal;
}

.tab-content legend {
    font-size: 1em;
    font-weight: 700;
    border-bottom-color: #ccccff;
}


/*输入项必填“*”红色*/

.required-input {
    color: red;
}


/*form中tree增加一行边距*/

.form-table-add-line {
    margin-top: 5px;
}


/*form中的tree添加一行隐藏*/

.form-disabled .form-table-add-line {
    display: none;
}


/*默认开启搜索，隐藏关闭搜索*/

.search-hidden {
    display: none;
}

.panel-list-info {
    margin-bottom: 1px;
}


/*过滤条件图标+隐藏*/

a[aria-expanded="true"]>.icon-plus {
    display: none;
}


/*过滤条件图标-隐藏*/

a[aria-expanded="false"]>.icon-minus {
    display: none;
}

.iradio_square-green.checked+label {
    color: green;
}


/*form表单中只读时显示p标签样式，此时input/select等标签隐藏*/

.p-form-control {
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    margin-bottom: 0px;
}

.p-form-line-control {
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    margin-bottom: 0px;
}


/*form表单中只读时input/select等标签隐藏
form表单中可编辑时input/select等标签隐藏，form表单只读是保存编辑按钮隐藏
*/

.form-disabled input,
.form-disabled textarea,
.form-disabled select,
.form-disabled .select2-selection,
.form-disabled .form-tree-edit,
.form-disabled .form-cancel-btn,
.form-disabled .form-save-btn {
    display: none;
}


/*form表单中可编辑时p标签显示*/

.form-disabled .p-form-tree-disabled,
.form-disabled .form-create-btn,
.form-disabled .form-edit-btn {
    display: block;
}


/*form表单中可编辑时input/select等标签显示
form表单中可编辑时input/select等标签显示
*/

.form-edit input,
.form-edit select,
.form-edit .select2-selection,
.form-edit .form-tree-edit,
.form-edit .form-cancel-btn,
.form-edit textarea,
.form-edit .form-save-btn {
    display: block;
}


/*form表单中可编辑时p标签隐藏
form表单中可编辑时隐藏p标签样式，此时input/select等标签显示
form表单中可编辑时input/select等标签显示
*/

.form-edit .p-form-tree-disabled,
.form-edit .p-form-control,
.form-edit .p-form-line-control,
.form-edit .form-tree-edit,
.form-edit .form-create-btn,
.form-edit .form-edit-btn {
    display: none;
}


/*图片modal预览翻页*/

.file-zoom-dialog .btn-navigate {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #1c94c4;
    font-size: 4em;
    margin: 0;
    opacity: 0.7;
    outline: 0 none;
    padding: 0;
    position: absolute;
    text-decoration: none;
    top: 45%;
}