<div class="row">
    <p id="list-title">{{.PageName}}</p>
</div>

<form enctype="multipart/form-data" id="productTemplateForm" action="{{.URL}}{{.RecordID}}?action={{.Action}}" method="post" class="post-from form-horizontal {{if .Readonly}}form-disabled{{else}}form-edit{{end}}" role="form">
    <div class="row">
        {{if .RecordID}} {{if .Readonly}}
        <button type="button" class="btn btn-success fa fa-pencil pull-left form-edit-btn">&nbsp编辑</button>
        <a href="{{.URL}}?action=create" type="buttom" class="btn btn-success fa fa-plus pull-left form-create-btn">&nbsp新建</a>{{end}}{{end}}
        <button type="submit" form="productTemplateForm" class="btn btn-primary fa fa-save pull-left form-save-btn">&nbsp保存</button> {{if .Readonly}}
        <button type="button" class="btn btn-danger fa fa-remove  pull-left form-cancel-btn">&nbsp取消</button> {{else}}
        <a href="{{.URL}}" class="btn btn-danger fa fa-remove  pull-left">&nbsp取消</a> {{end}}

        <a href="{{.URL}}" class="btn btn-info fa fa-list pull-left">&nbsp列表</a>
    </div>
    {{ .xsrf }} {{if .RecordID}}
    <input type="hidden" name="_recordID" id="record-id" class="{{.FormField}}" value="{{.RecordID}}">
    <input type="hidden" name="_method" class="{{.FormField}}" value="PUT"> {{end}}
    <br>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="preview ">

                <div id="vertical" class="bigImg">

                    <img src="/static/images/test/mid/05.jpg" width="400" height="400" alt="" id="midimg" />

                    <div style="display:none;" id="winSelector"></div>

                </div>
                <!--bigImg end-->

                <div class="smallImg">

                    <div class="scrollbutton smallImgUp disabled"></div>

                    <div id="imageMenu">

                        <ul>

                            <li id="onlickImg"><img src="/static/images/test/small/05.jpg" width="68" height="68" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/02.jpg" width="68" height="68" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/03.jpg" width="68" height="68" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/04.jpg" width="68" height="68" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/01.jpg" width="68" height="68" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/06.jpg" width="68" height="68" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/04.jpg" width="68" height="68" alt="洋妞" /></li>

                        </ul>

                    </div>

                    <div class="scrollbutton smallImgDown"></div>

                </div>
                <!--smallImg end-->

                <div id="bigView" style="display:none;"><img width="800" height="800" alt="" src="" /></div>

            </div>
        </div>
        <div class="col-md-8">
            <fieldset>
                <legend>基本信息</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name" class="col-md-2 control-label label-start">款式名称<span class="required-input">&nbsp*</span></label>
                            <div class="col-md-10">
                                <p class="p-form-control">{{if .Tp}} {{.Tp.name}} {{end}}</p>
                                <input data-oldvalue="{{.Tp.Name}}" class="form-control {{.FormField}}" id="name" name="Name" type="text" {{if not .Readonly}}autofocus{{end}} {{if .Tp}} value="{{.Tp.Name}}" {{end}} />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="active" class="col-md-4 control-label ">有效</label>
                            <div class="col-md-8 ">
                                <input name="Active" data-oldvalue="{{.Tp.Active}}" id="active" class="form-control form-checkbox {{.FormField}}" checked="checked" type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="saleok" class="col-md-4 control-label ">可销售</label>
                            <div class="col-md-8 ">
                                <input name="SaleOk" data-oldvalue="{{.Tp.SaleOk}}" id="saleok" class="form-control form-checkbox {{.FormField}}" checked="checked" type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="type" class="col-md-4 control-label label-start">产品类型</label>
                            <div class="col-md-8">
                                <input class="{{.FormField}} input-radio {{if not .Tp}}checked{{else}}{{if eq .Tp.ProductType " stock "}}checked{{end}}{{end}}" type="radio" id="stock-radio" value="stock" name="ProductType">
                                <label class="input-radio-label" for="stock-radio">库存商品</label>
                                <input class="{{.FormField}} input-radio {{if .Tp}}{{if ne  .Tp.ProductType " consume "}}checked{{end}}{{end}}" type="radio" id="consume-radio" value="consume" name="ProductType">
                                <label class="input-radio-label" for="consume-radio">消耗品</label>
                                <input class="{{.FormField}} input-radio {{if .Tp}}{{if eq .Tp.ProductType " service "}}checked{{end}}{{end}}" type="radio" id="service-radio-3" value="service" name="ProductType">
                                <label class="input-radio-label" for="service-radio">服务</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="standardPrice" class="col-md-4 control-label label-start">成本价格<span>&nbsp</span></label>
                            <div class="col-md-8">
                                <p class="p-form-control">{{if .Tp}} {{.Tp.StandardPrice}} {{end}}</p>
                                <input class="form-control {{.FormField}}" name="StandardPrice" type="number" {{if .Tp}} value="{{.Tp.standardPrice}}" {{end}} />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="defaultCode" class="col-md-4 control-label label-start">款式编码</label>
                            <div class="col-md-8">
                                <p>{{if .Tp}} {{.Tp.defaultCode}} {{end}}</p>
                                <!--<input class="form-control" name="defaultCode" type="text" {{if .Tp}} value="{{.Tp.defaultCode}}" {{end}} />-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category" class="col-md-4 control-label label-start">款式类别<span class="required-input">&nbsp*</span></label>
                            <div class="col-md-8">
                                <p class="p-form-control">{{if .Tp}} {{.Tp.Category.name}} {{end}}</p>
                                <select name="Category" id="category" class="{{.FormField}} form-control select-product-category">
                            <option value="{{.Tp.Category.id}}" selected="selected">{{.Tp.Category.name}}</option>
                        </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend>销售单位</legend>
                            <div class="form-group">
                                <label for="firstSaleUom" class="col-md-4 control-label label-start">销售单位1<span class="required-input">&nbsp*</span></label>
                                <div class="col-md-8">
                                    <p class="p-form-control">{{if .Tp}} {{.Tp.FirstSaleUom.name}} {{end}}</p>
                                    <select name="FirstSaleUom" id="firstSaleUom" class="{{.FormField}} form-control select-product-uom">
                                     <option value="{{.Tp.FirstSaleUom.id}}" selected="selected">{{.Tp.FirstSaleUom.name}}</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="secondSaleUom" class="col-md-4 control-label label-start">销售单位2<span>&nbsp</span></label>
                                <div class="col-md-8">
                                    <p class="p-form-control">{{if .Tp}} {{.Tp.SecondSaleUom.name}} {{end}}</p>
                                    <select name="SecondSaleUom" id="secondSaleUom" class="{{.FormField}} form-control select-product-uom">
                                     <option value="{{.Tp.SecondSaleUom.id}}" selected="selected">{{.Tp.SecondSaleUom.name}}</option>
                                </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>采购单位</legend>
                            <div class="form-group">
                                <label for="firstPurchaseUom" class="col-md-4 control-label label-start">采购单位1<span class="required-input">&nbsp*</span></label>
                                <div class="col-md-8">
                                    <p class="p-form-control">{{if .Tp}} {{.Tp.FirstPurchaseUom.name}} {{end}}</p>
                                    <select name="FirstPurchaseUom" id="firstPurchaseUom" class="{{.FormField}} form-control select-product-uom">
                                     <option value="{{.Tp.FirstPurchaseUom.id}}" selected="selected">{{.Tp.FirstPurchaseUom.name}}</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="secondPurchaseUom" class="col-md-4 control-label label-start">采购单位2<span>&nbsp</span></label>
                                <div class="col-md-8">
                                    <p class="p-form-control">{{if .Tp}} {{.Tp.SecondPurchaseUom.name}} {{end}}</p>
                                    <select name="SecondPurchaseUom" id="secondPurchaseUom" class="{{.FormField}} form-control select-product-uom">
                                     <option value="{{.Tp.SecondPurchaseUom.id}}" selected="selected">{{.Tp.SecondPurchaseUom.name}}</option>
                                </select>
                                </div>
                            </div>
                        </fieldset>
                        </di>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist" id="product-tab">
        <li role="presentation" class="active"><a data-toggle="tab" href="#attributeInfo">款式属性</a></li>
        <li role="presentation"><a data-toggle="tab" href="#inventory">库存</a></li>
        <li role="presentation"><a data-toggle="tab" href="#supplier">供应商</a></li>
        <li role="presentation"><a data-toggle="tab" href="#description">描述</a></li>
        {{if .RecordID}}
        <li role="presentation"><a data-toggle="tab" href="#productImages">图片</a></li>
        {{end}}
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="attributeInfo">
            <div class="row">
                <div class="col-md-3">
                    <label for="type" class="col-md-4 control-label label-start">款式创建方式</label>
                    <div class="col-md-8">
                        <input class="input-radio {{if .Tp}}{{if ne  .Tp.ProductMethod " auto "}}checked{{end}}{{end}}" type="radio" id="productMethod-radio-1" value="auto" name="ProductMethod">
                        <label class="input-radio-label" for="productMethod-radio-1">自动创建</label>
                        <input class="input-radio {{if not .Tp}}checked{{else}}{{if eq .Tp.ProductMethod " hand "}}checked{{end}}{{end}}" type="radio" id="productMethod-radio-2" value="hand" name="ProductMethod">
                        <label class="input-radio-label" for="productMethod-radio-2">手动触发</label>
                    </div>
                </div>
            </div>

            <div class="row" id="display-table">
                <div class="col-md-12">
                    <button type="button" id="add-one-product-template-attribute" data-formid="productTemplateForm" class="btn btn-info pull-left form-table-add-line">添加一行</button>
                    <table id="product-template-attribute" data-formid="productTemplateForm" class="table-diplay-info table table-bordered table-hover table-condensed table-striped">
                        <thead>
                            <th>属性</th>
                            <th>属性值</th>
                            <th class="text-center">操作</th>
                        </thead>
                        <tbody id="product-template-attribute-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="inventory">库存</div>
        <div class="tab-pane fade" id="supplier">供应商</div>
        <div class="tab-pane fade" id="description">
            <div class="row">
                <div class="col-md-4">
                    <fieldset>
                        <legend>一般描述</legend>
                        <p class="p-form-control">{{if .Tp}} {{.Tp.description}} {{end}}</p>
                        <textarea class="form-control" name="Description" rows="5" placeholder="请输入一般描述信息">{{if .Tp}}  {{.Tp.Description}} {{end}}</textarea>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset>
                        <legend>采购描述</legend>
                        <p class="p-form-control">{{if .Tp}} {{.Tp.DescriptioPurchase}} {{end}}</p>
                        <textarea class="form-control" name="DescriptioPurchase" rows="5" placeholder="请输入采购描述信息">{{if .Tp}}  {{.Tp.DescriptioPurchase}} {{end}}</textarea>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset>
                        <legend>销售描述</legend>
                        <p class="p-form-control">{{if .Tp}} {{.Tp.DescriptioSale}} {{end}}</p>
                        <textarea class="form-control" name="DescriptioSale" rows="5" placeholder="请输入销售描述信息">{{if .Tp}}  {{.Tp.DescriptioSale}} {{end}}</textarea>
                    </fieldset>
                </div>
            </div>
        </div>
        {{if .RecordID}}
        <div class="tab-pane fade" id="productImages">
            <!--显示已经有的图片-->
            {{if .Tp.Images}} {{range .Tp.Images}}
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img class="click-modal-view" src="" data-src="{{.imgSrc}}" alt="...">
                    </a>
                </div>
            </div>
            {{end}} {{end}}
            <input id="product-images" name="productImages" type="file" multiple>
        </div>
        {{end}}
    </div>
</form>
{{if .RecordID}}
<div class="file-zoom-dialog modal fade" id="productImagesModal" tabindex="-1" role="dialog" aria-labelledby="productImagesModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="kv-zoom-actions pull-right">
                    <!--<button type="button" class="btn btn-default btn-header-toggle btn-toggleheader" title="缩放" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-resize-vertical"></i></button>
                    <button type="button" class="btn btn-default btn-fullscreen" title="全屏" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-fullscreen"></i></button>
                    <button type="button" class="btn btn-default btn-borderless" title="无边界模式" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-resize-full"></i></button>-->
                    <button type="button" class="btn btn-default btn-close" title="关闭当前预览" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
                <h3 class="modal-title"> <small><span class="kv-zoom-title text-primary" >[{{.Tp.defaultCode}}]{{.Tp.name}}</span></small></h3>
            </div>
            <div class="modal-body">
                <div id="productImagesCarousel" class="carousel slide">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a type="button" class="carousel-control btn-navigate left" data-slide="prev" href="#productImagesCarousel" title="预览上一个文件"><i class="glyphicon glyphicon-triangle-left"></i></a>
                    <a type="button" class="carousel-control  btn-navigate right" data-slide="next" href="#productImagesCarousel" title="预览上一个文件"><i class="glyphicon glyphicon-triangle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}