<div class="row">
    <p id="list-title">{{.PageName}}</p>
</div>

<form enctype="multipart/form-data" id="productTemplateForm" action="{{.URL}}{{.RecordID}}?action={{.Action}}" method="post" class="post-form form-horizontal {{if .Readonly}}form-disabled{{else}}form-edit{{end}}" role="form">
    <div class="row title-action">
        {{if .RecordID}} {{if .Readonly}}
        <a href="{{.URL}}{{.RecordID}}?action=edit" class="btn btn-success fa fa-pencil pull-left form-edit-btn">&nbsp编辑</a>
        <a href="{{.URL}}?action=create" type="buttom" class="btn btn-success fa fa-plus pull-left form-create-btn">&nbsp新建</a>{{end}} {{end}}
        <button type="submit" form="productTemplateForm" class="btn btn-primary fa fa-save pull-left form-save-btn">&nbsp保存</button>
        <a href="{{.URL}}{{if .RecordID}}{{.RecordID}}?action=detail{{end}}" class="btn btn-danger fa fa-remove  pull-left form-cancel-btn">&nbsp取消</a>
        <a href="{{.URL}}" class="btn btn-info fa fa-list pull-left">&nbsp列表</a>
    </div>
    <div class="row">
        <nav class="navbar navbar-default navbar-form-top" role="navigation">
            <div class="form-button-action pull-left">
                <button class="btn btn-primary" id="generate_product_variants">生成规格</button>
            </div>
        </nav>
    </div>
    {{ .xsrf }} {{if .RecordID}}
    <input type="hidden" data-type="int" name="recordID" id="record-id" class="{{.FormField}}" value="{{.RecordID}}">
    <input type="hidden" data-type="string" name="_method" class="{{.FormField}}" value="PUT"> {{end}}
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="preview ">

                <div id="vertical" class="bigImg">

                    <img src="/static/images/test/mid/05.jpg" alt="" id="midimg" />

                    <div style="display:none;" id="winSelector"></div>

                </div>
                <!--bigImg end-->

                <div class="smallImg">

                    <div class="scrollbutton smallImgUp disabled"></div>

                    <div id="imageMenu">

                        <ul>

                            <li id="onlickImg"><img src="/static/images/test/small/05.jpg" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/02.jpg" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/03.jpg" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/04.jpg" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/01.jpg" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/06.jpg" alt="洋妞" /></li>

                            <li><img src="/static/images/test/small/04.jpg" alt="洋妞" /></li>

                        </ul>

                    </div>

                    <div class="scrollbutton smallImgDown"></div>

                </div>
                <!--smallImg end-->

                <div id="bigView" style="display:none;"><img width="800" height="800" alt="" src="" /></div>

            </div>
        </div>
        <div class="col-md-8">
            <fieldset>
                <legend>基本信息</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name" class="col-md-2 control-label label-start">款式名称<span class="required-input">&nbsp*</span></label>
                            <div class="col-md-10">
                                <p class="p-form-control">{{if .Tp}} {{.Tp.Name}} {{end}}</p>
                                <input data-type="string" data-oldvalue="{{.Tp.Name}}" class="form-control {{.FormField}}" id="name" name="Name" type="text" {{if not .Readonly}}autofocus{{end}} {{if .Tp}} value="{{.Tp.Name}}" {{end}} />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="active" class="col-md-4 control-label ">有效</label>
                            <div class="col-md-8 ">
                                <input data-type="bool" name="Active" data-oldvalue="{{.Tp.Active}}" id="active" class="form-control form-checkbox  {{.FormField}}" {{if and .Tp .Tp.Active}}{{if eq true .Tp.Active }}checked="checked" {{end}} {{else}}checked="checked" {{end}}type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="saleok" class="col-md-4 control-label ">可销售</label>
                            <div class="col-md-8 ">
                                <input data-type="bool" name="SaleOk" data-oldvalue="{{.Tp.SaleOk}}" id="saleok" class="form-control form-checkbox  {{.FormField}}" {{if and .Tp .Tp.SaleOk}}{{if eq true .Tp.SaleOk }}checked="checked" {{end}} {{else}}checked="checked" {{end}} type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="type" class="col-md-4 control-label label-start">产品款式类型</label>
                            <div class="col-md-8">
                                <input data-type="string" class="{{.FormField}} input-radio" {{if and .Tp .Tp.ProductType}} data-oldvalue="{{.Tp.ProductType}}" {{else}}data-oldvalue="stock" {{end}} type="radio" id="stock-radio" value="stock" name="ProductType">
                                <label class="input-radio-label" for="stock-radio">库存商品</label>
                                <input data-type="string" class="{{.FormField}} input-radio" {{if and .Tp .Tp.ProductType}} data-oldvalue="{{.Tp.ProductType}}" {{else}}data-oldvalue="stock" {{end}} type="radio" id="consume-radio" value="consume" name="ProductType">
                                <label class="input-radio-label" for="consume-radio">消耗品</label>
                                <input data-type="string" class="{{.FormField}} input-radio" {{if and .Tp .Tp.ProductType}} data-oldvalue="{{.Tp.ProductType}}" {{else}}data-oldvalue="stock" {{end}} type="radio" id="service-radio" value="service" name="ProductType">
                                <label class="input-radio-label" for="service-radio">服务</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="standardPrice" class="col-md-4 control-label label-start">成本价格<span>&nbsp</span></label>
                            <div class="col-md-8">
                                <p class="p-form-control">{{if .Tp}} {{.Tp.StandardPrice}} {{end}}</p>
                                <input data-type="float" data-oldvalue="{{.Tp.StandardPrice}}" class="form-control {{.FormField}}" name="StandardPrice" type="text" {{if .Tp}} value="{{.Tp.StandardPrice}}" {{end}} />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="defaultCode" class="col-md-4 control-label label-start">款式编码</label>
                            <div class="col-md-8">
                                {{if .Tp}}
                                <p> {{.Tp.DefaultCode}}</p>{{else}}
                                <p style="color: gray">自动生成</p> {{end}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category" class="col-md-4 control-label label-start">款式类别<span class="required-input">&nbsp*</span></label>
                            <div class="col-md-8">
                                <p class="p-form-control">{{if and .Tp .Tp.Category}} {{.Tp.Category.Name}} {{end}}</p>
                                <select data-type="int" {{if and .Tp .Tp.Category}} data-oldvalue="{{.Tp.Category.ID}}" {{end}} name="Category" id="category" class="{{.FormField}} form-control select-product-category">
                                    {{if and .Tp .Tp.Category}}
                                    <option value="{{.Tp.Category.ID}}" selected="selected">{{.Tp.Category.Name}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend>销售单位</legend>
                            <div class="form-group">
                                <label for="firstSaleUom" class="col-md-4 control-label label-start">销售单位1<span class="required-input">&nbsp*</span></label>
                                <div class="col-md-8">
                                    <p class="p-form-control">{{if and .Tp .Tp.FirstSaleUom}} {{.Tp.FirstSaleUom.Name}} {{end}}</p>
                                    <select data-type="int" {{if and .Tp .Tp.FirstSaleUom}} data-oldvalue="{{.Tp.FirstSaleUom.ID}}" {{end}} name="FirstSaleUom" id="firstSaleUom" class="{{.FormField}} form-control select-product-uom">
                                        {{if and .Tp .Tp.FirstSaleUom}} 
                                        <option value="{{.Tp.FirstSaleUom.ID}}" selected="selected">{{.Tp.FirstSaleUom.Name}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="secondSaleUom" class="col-md-4 control-label label-start">销售单位2<span>&nbsp</span></label>
                                <div class="col-md-8">
                                    <p class="p-form-control">{{if and .Tp .Tp.SecondSaleUom}} {{.Tp.SecondSaleUom.Name}} {{end}}</p>
                                    <select data-type="int" {{if and .Tp .Tp.SecondSaleUom}} data-oldvalue="{{.Tp.SecondSaleUom.ID}}" {{end}} name="SecondSaleUom" id="secondSaleUom" class="{{.FormField}} form-control select-product-uom">
                                        {{if and .Tp .Tp.SecondSaleUom}}
                                            <option value="{{.Tp.SecondSaleUom.ID}}" selected="selected">{{.Tp.SecondSaleUom.Name}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>采购单位</legend>
                            <div class="form-group">
                                <label for="firstPurchaseUom" class="col-md-4 control-label label-start">采购单位1<span class="required-input">&nbsp*</span></label>
                                <div class="col-md-8">
                                    <p class="p-form-control">{{if and .Tp .Tp.FirstPurchaseUom}} {{.Tp.FirstPurchaseUom.Name}} {{end}}</p>
                                    <select data-type="int" {{if and .Tp .Tp.FirstPurchaseUom}} data-oldvalue="{{.Tp.FirstPurchaseUom.ID}}" {{end}} name="FirstPurchaseUom" id="firstPurchaseUom" class="{{.FormField}} form-control select-product-uom">
                                        {{if and .Tp .Tp.FirstPurchaseUom}} 
                                            <option value="{{.Tp.FirstPurchaseUom.ID}}" selected="selected">{{.Tp.FirstPurchaseUom.Name}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="secondPurchaseUom" class="col-md-4 control-label label-start">采购单位2<span>&nbsp</span></label>
                                <div class="col-md-8">
                                    <p class="p-form-control">{{if and .Tp .Tp.SecondPurchaseUom}} {{.Tp.SecondPurchaseUom.Name}} {{end}}</p>
                                    <select data-type="int" {{if and .Tp .Tp.SecondPurchaseUom}} data-oldvalue="{{.Tp.SecondPurchaseUom.ID}}" {{end}} name="SecondPurchaseUom" id="secondPurchaseUom" class="{{.FormField}} form-control select-product-uom">
                                        {{if and .Tp .Tp.SecondPurchaseUom}}
                                            <option value="{{.Tp.SecondPurchaseUom.ID}}" selected="selected">{{.Tp.SecondPurchaseUom.Name}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        </di>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist" id="product-tab">
        <li role="presentation" class="active"><a data-toggle="tab" href="#attributeInfo">款式属性</a></li>
        <li role="presentation"><a data-toggle="tab" href="#inventory">库存</a></li>
        <li role="presentation"><a data-toggle="tab" href="#supplier">供应商</a></li>
        <li role="presentation"><a data-toggle="tab" href="#description">描述</a></li>
        {{if .RecordID}}
        <li role="presentation"><a data-toggle="tab" href="#productImages">图片</a></li>
        {{end}}
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="attributeInfo">
            <div class="row">
                <div class="col-md-3">
                    <label for="type" class="col-md-4 control-label label-start">规格创建方式</label>
                    <div class="col-md-8">
                        <input data-type="string" class="{{.FormField}} input-radio" {{if and .Tp .Tp.ProductMethod}} data-oldvalue="{{.Tp.ProductMethod}}" {{else}}data-oldvalue="hand" {{end}} type="radio" id="productMethod-auto" value="auto" name="ProductMethod">
                        <label class="input-radio-label" for="productMethod-auto">自动创建</label>
                        <input data-type="string" class="{{.FormField}} input-radio" {{if and .Tp .Tp.ProductMethod}} data-oldvalue="{{.Tp.ProductMethod}}" {{else}}data-oldvalue="hand" {{end}} type="radio" id="productMethod-hand" value="hand" name="ProductMethod">
                        <label class="input-radio-label" for="productMethod-hand">手动触发</label>
                    </div>
                </div>
            </div>

            <div class="row" id="display-table">
                <div class="col-md-12">
                    <button type="button" id="add-one-product-template-attribute" data-formid="productTemplateForm" class="btn btn-info pull-left form-table-add-line">添加一行</button>
                    <table id="product-template-attribute" data-formid="productTemplateForm" class="table-diplay-info table table-bordered table-hover table-condensed table-striped">
                        <thead>
                            <th>属性</th>
                            <th>属性值</th>
                            <th class="text-center">操作</th>
                        </thead>
                        <tbody id="product-template-attribute-body">
                            {{if and .Tp .Tp.AttributeLines}}{{range $index,$attributeLine := .Tp.AttributeLines}}
                            <tr data-treename='ProductAttributes' class='product-template-attribute-line form-tree-line-edit'>
                                {{with $lineId := $attributeLine.ID}} {{with $AttrId := $attributeLine.Attribute.ID}}

                                <td>
                                    <p class="p-form-control">{{$attributeLine.Attribute.Name}}</p>
                                    <select data-type='int' {{if and $attributeLine $attributeLine.Attribute}} data-oldvalue="{{$attributeLine.Attribute.ID}}" {{end}} data-name='AttributeId' name='AttributeId' id='AttributeId-{{$lineId}}' class='form-line-cell-edit form-control form-tree-select-product-template-attribute'>
                                        <option value="{{$attributeLine.Attribute.ID}}" selected="selected">{{$attributeLine.Attribute.Name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <p class="p-form-control"> {{range $j,$attrVal := $attributeLine.AttributeValues}}<a class='display-block label label-primary'>{{$attrVal.Name}}</a> {{end}}</p>
                                    <select data-type='array_int' data-name='AttributeValueIds' name='AttributeValueIds' data-attributeid='AttributeId-{{$lineId}}' id='AttributeValueIds-{{$lineId}}' data-oldValue="{{range $j,$attrVal := $attributeLine.AttributeValues}}{{$attrVal.ID}},{{end}}"
                                        multiple='multiple' class='form-line-cell-edit form-control form-tree-select-product-template-attribute-value'>
	                                    {{range $j,$attrVal :=  $attributeLine.AttributeValues}}
                                            <option value="{{$attrVal.ID}}" selected="selected">{{$attrVal.Name}}</option>
                                        {{end}}
                                    </select>
                                </td>
                                <td class='text-center'><a class='form-line-delete'><i class='fa fa-trash-o'></i></a>
                                </td>
                            </tr>
                            {{end}} {{end}}{{end}}{{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="inventory">库存</div>
        <div class="tab-pane fade" id="supplier">供应商</div>
        <div class="tab-pane fade" id="description">
            <div class="row">
                <div class="col-md-4">
                    <fieldset>
                        <legend>一般描述</legend>
                        <p class="p-form-control">{{if .Tp}} {{.Tp.Description}} {{end}}</p>
                        <textarea data-type="string" class="form-control" name="Description" rows="5" placeholder="请输入一般描述信息">{{if .Tp}}  {{.Tp.Description}} {{end}}</textarea>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset>
                        <legend>采购描述</legend>
                        <p class="p-form-control">{{if .Tp}} {{.Tp.DescriptionPurchase}} {{end}}</p>
                        <textarea data-type="string" class="form-control" name="DescriptionPurchase" rows="5" placeholder="请输入采购描述信息">{{if .Tp}}  {{.Tp.DescriptionPurchase}} {{end}}</textarea>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset>
                        <legend>销售描述</legend>
                        <p class="p-form-control">{{if .Tp}} {{.Tp.DescriptionSale}} {{end}}</p>
                        <textarea data-type="string" class="form-control" name="DescriptionSale" rows="5" placeholder="请输入销售描述信息">{{if .Tp}}  {{.Tp.DescriptionSale}} {{end}}</textarea>
                    </fieldset>
                </div>
            </div>
        </div>
        {{if .RecordID}}
        <div class="tab-pane fade" id="productImages">
            <!--显示已经有的图片-->
            {{if and .Tp .Tp.BigImages}} {{range .Tp.BigImages}}
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img class="click-modal-view" src="" data-src="{{.imgSrc}}" alt="...">
                    </a>
                </div>
            </div>
            {{end}} {{end}}
            <input id="product-images" name="productImages" type="file" multiple>
        </div>
        {{end}}
    </div>
</form>
{{if .RecordID}}
<div class="file-zoom-dialog modal fade" id="productImagesModal" tabindex="-1" role="dialog" aria-labelledby="productImagesModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="kv-zoom-actions pull-right">
                    <!--<button type="button" class="btn btn-default btn-header-toggle btn-toggleheader" title="缩放" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-resize-vertical"></i></button>
                    <button type="button" class="btn btn-default btn-fullscreen" title="全屏" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-fullscreen"></i></button>
                    <button type="button" class="btn btn-default btn-borderless" title="无边界模式" data-toggle="button" aria-pressed="false" autocomplete="off"><i class="glyphicon glyphicon-resize-full"></i></button>-->
                    <button type="button" class="btn btn-default btn-close" title="关闭当前预览" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
                <h3 class="modal-title"> <small><span class="kv-zoom-title text-primary" >[{{.Tp.DefaultCode}}]{{.Tp.Name}}</span></small></h3>
            </div>
            <div class="modal-body">
                <div id="productImagesCarousel" class="carousel slide">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a type="button" class="carousel-control btn-navigate left" data-slide="prev" href="#productImagesCarousel" title="预览上一个文件"><i class="glyphicon glyphicon-triangle-left"></i></a>
                    <a type="button" class="carousel-control  btn-navigate right" data-slide="next" href="#productImagesCarousel" title="预览上一个文件"><i class="glyphicon glyphicon-triangle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}