<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- /.tab-pane -->
        <div class="tab-pane active" id="control-sidebar-theme-demo-options-tab">
            <div>
                <h4 class="control-sidebar-heading text-center">布局主题设置</h4>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                    <input data-layout="fixed" class="pull-right form-checkbox1" type="checkbox">顶部固定</label>
                </div>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                    <input data-layout="layout-boxed" class="pull-right form-checkbox1" type="checkbox"> 盒布局</label>
                </div>
                <div class="form-group">
                    <label class="control-sidebar-subheading">
                     <input data-layout="sidebar-collapse" class="pull-right form-checkbox1" type="checkbox">切换侧边栏</label>
                </div>
            </div>
        </div>
    </div>
</aside>